body{
  background-color: #42032C;
}

.container{
  text-align: center;
  margin-top: 5%;
}
.date{
  color:#D36B00;
  font-size: 2.0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: 1px solid white;
  width: 30%;
  border-radius: 12px;
}

.items{
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
}
li{
  list-style-type:none;
  font-family: 'Roboto', sans-serif;
  color: #F1EFDC;
}

.adding{
  margin-top: 5%;
  border-radius: 100px;
  width: 40px;
  height:40px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #D36B00;
}

input{
  margin-top: 5%;
  border-radius: 5px;
  height:40px;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
